<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCV - Simple Crud Vue</title>
</head>

<body class="bg-secondary">

    <main id="app">

        <div class="container py-5">

            <h1 class="text-white mb-5">Contacts List</h1>

            <form>
                <div class="row">

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" title="Enter the name of the contact">Name:</label>
                        <input type="text" placeholder="Name" v-model="contactForm.name" class="form-control" required>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" title="Enter the age of the contact">Age:</label>
                        <input type="number" placeholder="Age" v-model="contactForm.age" class="form-control">
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" title="Enter the phone number of the contact">Phone:</label>
                        <input type="tel" placeholder="Phone" v-model="contactForm.phone" class="form-control" required>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" title="Select the gender of the contact">Gender:</label>
                        <select class="form-select form-control" v-model="contactForm.gender">
                            <option selected>Men</option>
                            <option>Woman</option>
                        </select>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="form-label" title="Select the registration date of the contact">Registration
                            Date:</label>
                        <input type="date" v-model="contactForm.registerdate" class="form-control">
                    </div>

                </div>

                <div class="mt-4">
                    <button type="button" class="btn btn-success me-3" @click="save(contactForm)"
                        :disabled="!isValidForm">Save</button>
                    <button type="button" class="btn btn-secondary" @click="clearForm">Clear</button>
                </div>

            </form>

            <div class="table-responsive mt-5">
                <table class="table table-striped table-hover">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Registration Date</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody v-if="contacts.length > 0">

                        <tr v-for="contact in contacts" :class="contact.selectedClass">
                            <td>{{contact.id}}</td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.age}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.gender}}</td>
                            <td>{{contact.registerdate}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger me-2"
                                    @click="remove(contact)">Delete</button>
                                <button type="button" class="btn btn-sm btn-primary"
                                    @click="select(contact)">Select</button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <p :class="alertMessage.alertClass" role="alert" v-if="alertMessage.showMessage">
                    {{alertMessage.message}}
                </p>

            </div>

        </div>

    </main>

    <!-- CSS only-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {

                contacts: [],
                contactForm: {
                    id: 1,
                    name: '',
                    age: 0,
                    phone: '',
                    gender: 'Man',
                    registerdate: '',
                    selected: false,
                    selectedClass: '',
                },
                alertMessage: {
                    message: '',
                    alertClass: '',
                    successClass: 'alert alert-success',
                    dangerClass: 'alert alert-danger',
                    showMessage: false,
                },
            },
            computed: {
                isValidPhone() {
                    // This regex checks if the phone number has 10 digits
                    let phoneRegex = /^(?!.*(\d)\1{2})\d{11}$/; // /^[0-9]{10}$/;
                    return phoneRegex.test(this.contactForm.phone);
                },
                isValidForm() {
                    return this.isValidPhone;
                },
            },
            watch: {
            },

            methods: {

                save: function (objContact) {

                    let contact = this.contacts.find(contact => contact.selected == true)

                    if (contact != undefined)
                        this.update(contact)
                    else
                        this.createContact()

                    this.showMessageBox(this.alertMessage.successClass, 'Save!');
                    this.cleanForm();
                },

                createContact: function () {

                    this.contacts.push({
                        id: this.contactForm.id++,
                        name: this.contactForm.name,
                        age: this.contactForm.age,
                        phone: this.contactForm.phone,
                        gender: this.contactForm.gender,
                        registerdate: this.contactForm.registerdate,
                        selectedClass: '',
                        selected: false,
                    });
                },

                update: function (objContact) {
                    objContact.name = this.contactForm.name;
                    objContact.age = this.contactForm.age;
                    objContact.phone = this.contactForm.phone;
                    objContact.gender = this.contactForm.gender;
                    objContact.registerdate = this.contactForm.registerdate;
                    objContact.selected = false;
                    objContact.selectedClass = '';
                },


                remove: function (objContact) {

                    this.contacts = this.contacts.filter(contact => contact.id != objContact.id)
                    this.showMessageBox(this.alertMessage.dangerClass, 'Deleted!')
                },

                clearForm: function () {
                    this.contactForm = {
                        id: this.contactForm.id,
                        name: '',
                        age: null,
                        phone: '',
                        gender: 'Men',
                        registerdate: '',
                        selected: false,
                        selectedClass: ''
                    };
                },

                select: function (objContact) {

                    this.removeSelect();

                    this.contactForm.name = objContact.name
                    this.contactForm.age = objContact.age
                    this.contactForm.phone = objContact.phone
                    this.contactForm.gender = objContact.gender
                    this.contactForm.registerdate = objContact.registerdate

                    objContact.selected = true
                    objContact.selectedClass = 'bg-success'
                },

                removeSelect: function () {
                    this.contacts.forEach(contact => { contact.selected = false; contact.selectedClass = '' });
                },

                showMessageBox: function (classType, textMessageAlert) {

                    this.alertMessage.alertClass = classType
                    this.alertMessage.message = textMessageAlert
                    this.alertMessage.showMessage = true;

                    this.hideMessageBox();
                },

                hideMessageBox: function () {

                    var _this = this

                    setTimeout(function () {
                        _this.alertMessage.showMessage = false
                    }, 2000)
                },

                cleanForm: function () {

                    this.contactForm.name = ''
                    this.contactForm.age = 0
                    this.contactForm.phone = ''
                    this.contactForm.gender = 'Man'
                    this.contactForm.registerdate = ''
                },
            }
        });

    </script>

</body>

</html>