<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCV - Simple Crud Vue</title>
</head>

<body class="bg-white">

    <main id="app">

        <div class="container">

            <h1 class="text-white">Registration Form</h1>
            <div class="row">

                <div class="col-2">
                    <label>Name:</label>
                    <input type="text" placeholder="Name" v-model="contactForm.name" class="form-control">
                </div>

                <div class="col-2">
                    <label>Age:</label>
                    <input type="number" placeholder="Age" v-model="contactForm.age" class="form-control">
                </div>

                <div class="col-2">
                    <label>Phone:</label>
                    <input type="tel" placeholder="Phone" v-model="contactForm.phone" class="form-control">
                </div>

                <div class="col-2">
                    <label>Gender:</label>
                    <select class="form-select form-control" v-model="contactForm.gender">
                        <option selected>Men</option>
                        <option>Woman</option>
                    </select>
                </div>

                <div class="col-2">
                    <label>Registration Date:</label>
                    <input type="date" v-model="contactForm.registerdate" class="form-control">
                </div>
            </div>

            <br />

            <div>
                <input type="button" value="Save" @click="save(contactForm)" class="btn btn-sm btn-success" />
            </div>
            <br />

            <div class="table-responsive">
                <table class="table table-sm table-bordered" v-if="contacts.length > 0">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Registration Date</th>
                        <th>Options</th>
                    </tr>

                    <tr v-for="contact in contacts" :class="contact.selectedClass">
                        <input type="text" v-model="contact.name"  />
                        <td>{{contact.id}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.age}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.gender}}</td>
                        <td>{{contact.registerdate}}</td>

                        <td>
                            <input type="button" value="Delete" class="btn btn-sm btn-danger"
                                @click="remove(contact)" />
                            <input type="button" value="Select" class="btn btn-sm btn-primary"
                                @click="select(contact)" />
                        </td>
                    </tr>

                </table>

            </div>
            <div class="col-md-2">
                <p :class="alertMessage.alertClass" role="alert" v-if="alertMessage.showMessage">
                    {{alertMessage.message}}
                </p>
            </div>

        </div>

    </main>

    <!-- CSS only-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {

                contacts: [],
                contactForm: {
                    id: 1,
                    name: '',
                    age: 0,
                    phone: '',
                    gender: 'Man',
                    registerdate: '',
                    selected: false,
                    selectedClass: '',
                },
                alertMessage: {
                    message: '',
                    alertClass: '',
                    successClass: 'alert alert-success',
                    dangerClass: 'alert alert-danger',
                    showMessage: false,
                },
            },
            watch: {

            },
            methods: {

                save: function (objContact) {

                    let contact = this.contacts.find(contact => contact.selected == true)

                    if (contact != undefined)
                        this.update(contact)
                    else
                        this.createContact()

                    this.showMessageBox(this.alertMessage.successClass, 'Save!');
                    this.cleanForm();
                },

                createContact: function () {

                    this.contacts.push({
                        id: this.contactForm.id++,
                        name: this.contactForm.name,
                        age: this.contactForm.age,
                        phone: this.contactForm.phone,
                        gender: this.contactForm.gender,
                        registerdate: this.contactForm.registerdate,
                        selectedClass: '',
                        selected: false,
                    });
                },

                update: function (objContact) {

                    objContact.name = this.contactForm.name
                    objContact.age = this.contactForm.age
                    objContact.phone = this.contactForm.phone
                    objContact.gender = this.contactForm.gender
                    objContact.registerdate = this.contactForm.registerdate
                    objContact.selectedClass = ''
                    objContact.selected = false
                },

                remove: function (objContact) {

                    this.contacts = this.contacts.filter(contact => contact.id != objContact.id)
                    this.showMessageBox(this.alertMessage.dangerClass, 'Deleted!')
                },

                select: function (objContact) {

                    this.removeSelect();

                    this.contactForm.name = objContact.name
                    this.contactForm.age = objContact.age
                    this.contactForm.phone = objContact.phone
                    this.contactForm.gender = objContact.gender
                    this.contactForm.registerdate = objContact.registerdate

                    objContact.selected = true
                    objContact.selectedClass = 'bg-success'
                },

                removeSelect: function () {
                    this.contacts.forEach(contact => { contact.selected = false; contact.selectedClass = '' });
                },

                showMessageBox: function (classType, textMessageAlert) {

                    this.alertMessage.alertClass = classType
                    this.alertMessage.message = textMessageAlert
                    this.alertMessage.showMessage = true;

                    this.hideMessageBox();
                },

                hideMessageBox: function () {

                    var _this = this

                    setTimeout(function () {
                        _this.alertMessage.showMessage = false
                    }, 2000)
                },

                cleanForm: function () {

                    this.contactForm.name = ''
                    this.contactForm.age = 0
                    this.contactForm.phone = ''
                    this.contactForm.gender = 'Man'
                    this.contactForm.registerdate = ''
                },
            }
        });

    </script>

</body>

</html>