<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V VUE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>

    <main id="app">

        <div class="container">

            <h1>Formulário de Cadastro v.Vue</h1>
            <div class="row">

                <form>

                    <div class="col-md-2">
                        <label>Nome:</label>
                        <input type="text" placeholder="Nome" v-model="form.name" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label>Idade:</label>
                        <input type="number" placeholder="Idade" v-model="form.age" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label>Telefone:</label>
                        <input type="tel" placeholder="Telefone" v-model="form.phone" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label>Gênero:</label>
                        <select class="form-select form-control" v-model="form.gender">
                            <option selected>Masculino</option>
                            <option>Feminino</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>Data de Cadastro:</label>
                        <input type="date" v-model="form.registerdate" class="form-control">
                    </div>

                </form>

            </div>

            <br />

            <div>
                <input type="button" value="Salvar" v-on:click="save" class="btn btn-sm btn-success" />
                <!-- <input type="button" value="Atualizar" v-on:click="update" class="btn btn-sm btn-primary" /> -->
            </div>
            <br />

            <div class="table-responsive">
                <table class="table table-sm table-bordered" v-if="contacts.length > 0">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Telefone</th>
                        <th>Gênero</th>
                        <th>Data de Cadastro</th>
                        <th>Opções</th>
                    </tr>

                    <tr v-for="contact in contacts" :class="selectedId == contact.id ? classSelect : ''">
                        <td>{{contact.id}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.age}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.gender}}</td>
                        <td>{{contact.registerdate}}</td>

                        <td>
                            <input type="button" value="Excluir" class="btn btn-sm btn-danger"
                                v-on:click="remove(contact.id)" />
                            <input type="button" value="Selecionar" class="btn btn-sm btn-primary"
                                v-on:click="select(contact.id)" />
                        </td>
                    </tr>


                </table>

            </div>
            <div class="col-md-2">
                <p :class="classAlert" role="alert" v-if="showMessage">
                    {{messageAlert}}
                </p>
            </div>

        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                classAlert: '',
                classSelect: '',
                messageAlert: '',
                showMessage: false,
                inputName: '',
                currentCount: 0,
                currentId: 0,
                selectedId: 0,
                form: {
                    name: '',
                    age: 0,
                    phone: '',
                    gender: 'Masculino',
                    registerdate: ''
                },
                contacts: [],
                currentContact: null,
            },
            methods: {
                incrementCount: function () {
                    this.currentCount++;
                },

                save: function () {
                    var _this = this;

                    console.log(this);

                    this.currentContact !== null ? this.update() : this.create();

                    this.classAlert = 'alert alert-success';
                    this.messageAlert = "Salvo (Save)";
                    this.showMessage = true;
                    this.selectedId = null;
                    this.selectedId = 0;
                    this.classSelect = '';

                    setTimeout(function () {
                        _this.showMessage = false
                    }, 3000);

                },

                create: function () {
                    this.contacts.push({
                        id: this.currentId++,
                        name: this.form.name,
                        age: this.form.age,
                        phone: this.form.phone,
                        gender: this.form.gender,
                        registerdate: this.form.registerdate
                    });

                    this.form.name = "";
                    this.form.age = 0;
                    this.form.phone = "";
                    this.form.gender = "Masculino";
                    this.form.registerdate = "";
                    this.currentContact = null;
                },

                update: function () {
                    var _this = this;

                    //console.log(this.contacts);

                    this.contacts = this.contacts.map((contact) => {
                        //console.log(contact)
                        if (contact.id !== this.currentContact.id)
                            return contact;

                        return {
                            ...contact,
                            name: this.form.name,
                            age: this.form.age,
                            phone: this.form.phone,
                            gender: this.form.gender,
                            registerdate: this.form.registerdate
                        }
                    })

                    this.form.name = "";
                    this.form.age = 0;
                    this.form.phone = "";
                    this.form.gender = "Masculino";
                    this.form.registerdate = "";
                    this.currentContact = null;

                    console.log(this.contacts);

                },

                remove: function (id) {
                    var _this = this;

                    this.contacts = this.contacts.filter(p => p.id != id);

                    this.classAlert = 'alert alert-danger';
                    this.messageAlert = "Excluido (Deleted)";
                    this.showMessage = true;

                    setTimeout(function () {
                        _this.showMessage = false
                    }, 3000);
                },

                select: function (contactId) {

                    var _this = this;

                    const contact = this.contacts.find(contact => contact.id === contactId);

                    this.currentContact = contact;
                    this.selectedId = contact.id;

                    this.form.name = contact.name;
                    this.form.age = contact.age;
                    this.form.phone = contact.phone;
                    this.form.gender = contact.gender;
                    this.form.registerdate = contact.registerdate;
                    this.classSelect = 'bg-success';
                },
            }

        });

    </script>

</body>

</html>

<!--
    